{{#each posts as |post|}}
  <div class="border margin-bottom" >
        <div class="hero" id="post" post-id={{post.id}}>
            <div class="flex-row justify-space-between">
                <h2 class="light-font">{{post.title}}</h2>
                <span>Posted by
                <span class="text-italic">{{post.user.username}}</span>
                on
                {{format_date post.createdAt}}</span>
            </div>
        </div>
        <div class="margin-left">
            {{post.content}}
        </div>
        {{!-- ---------- COMMENT SECTION START -------------- --}}
    <div class="hidden" id="comment-{{post.id}}" state="off">
        <div class="flex-row justify-space-between margin-left">
           {{post.comments.[0].comment_text}} 
        </div>
        <div class="flex-row margin-left"> 
            <form class="w-75" id="comment-form">
                <label class="form-label">Comment</label>
                <textarea type="class" class="form-input" id="comment-text"></textarea>
                <button class="btn" type="submit">Comment!</button>
            </form>
        </div>
    </div>
    {{!-- -------------------- COMMETN SECTION END --------------------- --}}
  </div>
{{/each}}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="/javascript/comment.js"></script>